body {
  padding: 0 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
  color: #111;
  background-color: hsl(0, 0%, 60%);
  background-image: url("../images/background-light.jpg");
  background-size: 2500px;
  background-blend-mode: overlay;
}
@media (min-width: 400px) {
  body {
    font-size: 1.2em;
  }
}

header {
  text-align: center;
  margin-bottom: 3em;
  border-bottom: 2px solid black;
  /* color: white; */
}

header h1 {
  /* font-size: 3em; */
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

header p {
  font-family: 'Open Sans', 'Montserrat Alternates', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-block: 0.8em;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

nav a {
  display: grid;
  place-items: center;
  padding: 0.5em 1em;
  margin-block: 0.25em;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
nav a.current {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.2);
}
nav a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.15);
}

footer {
  border-top: 2px solid black;
  padding-block: 4em;
  display: grid;
  place-items: center;
  gap: 1em;
}

footer img {
  width: 100%;
  max-width: 400px;
}

section {
  margin: 0 0 2em 0;
}

img {
  width: 100%;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.framed {
  padding: 1rem;
  background-color: white;
  border: 0.5px solid grey;
  box-sizing: border-box;
  border-radius: 3px;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'Montserrat Alternates', sans-serif;
}

p {
  line-height: 1.5;
}

dl {
  display: grid;
  gap: 0.5em;
}
dd {
  margin: 0;
}
dt {
  font-weight: bold;
}

ul li {
  list-style-type: circle;
  margin-bottom: .5em;
}

a {
  color: hsl(40, 80%, 25%);
  text-decoration: none;
}
a:visited {
  color: hsl(180, 80%, 25%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  padding: 1rem;
  backdrop-filter: brightness(1.1);
  border-radius: 2px;
}

figure {
  margin: 0;
}
figcaption {
  font-size: 0.8em;
}


.row-2,
.row-3 {
  display: grid;
  gap: 1rem;
}

.row-2 p {
  margin-top: 0;
}

.screenshot {
  display: grid;
  gap: 1rem;
  place-items: center;
  place-content: center;
  grid-template-areas:
  "intro"
  "figure1"
  "stuff"
  "figure2"
  "more";
}
.screenshot .intro {
  grid-area: intro;
  place-self: start;
}
.screenshot figure:nth-of-type(1) {
  grid-area: figure1;
  place-self: end;
}
.screenshot figure:nth-of-type(2) {
  grid-area: figure2;
}
.screenshot .stuff {
  backdrop-filter: blur(5px) brightness(1.1);
  border: 0.5px solid black;
  padding: 1rem;
  border-radius: 2px;
  place-self: center;
  grid-area: stuff;
}
.screenshot .more {
  grid-area: more;
  place-self: end;
}
.screenshot dl {
  grid-template-columns: auto 1fr;
}


@media (min-width: 500px) {
  .screenshot {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "intro intro"
            "figure1 figure2"
            "stuff stuff"
            "more more";
  }
}


@media (min-width: 800px) {
  .screenshot {
    grid-template-columns: auto 1fr auto;
    place-items: flex-start;
    grid-template-areas:
            "intro intro intro"
            "figure1 stuff figure2"
            "more more more"
  }
  .screenshot img {
    max-height: 300px;
  }
}

@media (min-width: 1000px) {
  .screenshot {
    grid-template-columns: auto 1fr auto;
    place-items: flex-start;
    grid-template-areas:
            "intro intro figure1"
            "intro intro figure1"
            "figure2 stuff figure1"
            "figure2 more more"
            "figure2 more more";
  }
  .screenshot img {
    max-width: 225px;
    max-height: none;
  }
}

.screenshot img {
  /* max-width: 200px; */
  object-fit: contain;
  object-position: top;
  filter: none;
}

.griddy {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1em, 1fr));
}

.griddy .bigger {
  grid-row: span 5;
}
@media (min-width: 670px) {
  .griddy .bigger {
    grid-column: span 2;
    grid-row: span 7;
  }
}

ul.griddy {
  padding: 0;
}
ul.griddy li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0;
}

ul.griddy img {
  filter: sepia(0.8)
}


.hero {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  place-items: center;
  /* backdrop-filter: contrast(1.2) sepia(0.2); */
  border: 0.5px solid black;
  border-radius: 2px;
  background: linear-gradient(hsla(40, 50%, 80%, 0.25), hsla(40, 50%, 80%, 0.25));
  font-size: 1em;
}
.hero img {
  max-width: 600px;
  filter: sepia(0.3) blur(0.5px);
}
.hero p {
  margin-top: 0;
}
@media (min-width: 1000px) {
  .hero {
    grid-template-columns: auto 1fr;
    place-items: start;
  }
  .hero p {
    font-size: 1.0em;
  }
  .hero img {
    min-width: 400px;
  }
}
@media (min-width: 900px) {
  .hero p {
    /* font-size: 1.2em; */
  }
}

@media (min-width: 400px) {
  header h1 {
    font-size: 3em;
  }
}

@media (min-width: 500px) {

  header h1 {
    font-size: 4em;
  }

  footer dl {
    grid-template-columns: auto 1fr;
  }

}



@media (min-width: 700px) {
  .row-2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  section {
    /* margin-bottom: 5em; */
  }
  footer {
    grid-template-columns: 1fr 250px;
  }
  footer img {
    width: 100%;
  }
  .row-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gone {
  display: none;
}